<div>
    <!--sub headers-->
    <header class="sub-header">
        <div class="ui-container">
            <!--actions-->
            <div class="actions desktop">
                <div class="action-btns" data-ng-if="checked>0">
                    <a href="javascript:" class="btn btn-copy"><i></i></a>
                    <a href="javascript:" class="btn btn-delete" data-ng-click="deleteSelected()"><i></i></a>
                    <a href="javascript:" class="btn btn-action {{action_popover_open?'active':''}}" data-ng-click="action_open()" ><i></i></a>
                </div>
                <a href="javascript:alert('TODO: Implement'); alert('If any submission does not have the \'Review Submitted\' State, then show error message and highlight rows. O/w open confo dialog ');alert('Confirmation dialog will show winners + and give the ability to *not* payout');" class="btn add-new">Finalize</a>

            </div>
            <!--actions-->
            <div class="actions mobile">

                <a href="javascript:" class="btn filter {{filter_popover_open?'active':''}}" data-ng-click="filter_open()"><i></i></a>

                <div class="btn-group">
                    <label class="btn {{view}}" data-ng-click="toggleView()"><i></i></label>
                </div>
            </div>
            <!--title-->
            <div>
              <h3>
                <i></i>Submissions
              </h3>
              <a href="#/challenges/1/edit">Asteroid Data Hunter - System Architecture</a> / Submissions
            </div>
        </div>
    </header>
    <div class="ui-container">
        <div  data-ng-if="phone" class="mobile tableName {{view == 'grid'?'no-border':''}}">
            <a href="javascript:" class="add-btn"></a>
            <label data-ng-if="view == 'grid'" class="select-all">
                <input type="checkbox" data-ng-model="checkboxes.checked" class="select_all" name="filter-checkbox" value="" />
                <span class="custom-checkbox"></span>
            </label>
            <a href="javascript:" class="delete-btn" data-ng-click="deleteSelected()"></a>
            <h3>TableName Lorem</h3>
        </div>

        <table data-ng-table="tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
            <thead>
            <tr data-ng-if="view == 'list'">
                <th class="checkAll">
<!--                     <label>
                        <input type="checkbox" data-ng-model="checkboxes.checked" class="select_all" name="filter-checkbox" value="" />
                        <span class="custom-checkbox"></span>
                    </label>
 -->                
                        &nbsp;
                </th>
                <th class=" sortable" data-ng-class="{
                    'sort-asc': tableParams.isSortBy(header.col, 'asc'),
                    'sort-desc': tableParams.isSortBy(header.col, 'desc')
                  }" data-ng-repeat="header in columnHeaders"><div data-ng-click="tableParams.sorting(header.col, tableParams.isSortBy(header.col, 'asc') ? 'desc' : 'asc')">{{header.colName}}<i></i></div></th>
                <th data-ng-if="!phone" class="text-center" colspan="3"><div>Action</div></th>
            </tr>
            <tr data-ng-if="view == 'grid'" class="gridView">
                <th class="">
<!--                     <label data-ng-if="!phone" class="select-all">
                        <input type="checkbox" data-ng-model="checkboxes.checked" class="select_all" name="filter-checkbox" value="" />
                        <span class="custom-checkbox"></span>
                        <span class="text">Select All</span>
                    </label> -->
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody  data-ng-if="view == 'list'" data-ng-repeat="row in $data">
                <tr class="{{checkboxes.items[row.id]?'select':''}}" data-ng-class="$odd?'odd':''">
                    <td>
<!--                         <label class="custom-checkbox">
                            <input type="checkbox" data-ng-model="checkboxes.items[row.id]" />
                            <span class="custom-checkbox"></span>
                        </label> -->
                        &nbsp;
                    </td>
                    <td data-ng-if="phone" class="text-left" data-sortable="'col1'">
                        <a href="javascript:" class="add-btn {{row.expand?'expand':''}}" data-ng-click="toggleExpand(row)"></a>
                    </td>
                    <td class="text-left" data-sortable="'col1'">
                        {{row.col1}}
                    </td>
                    <td class="text-left" data-sortable="'col2'">
                        {{row.col2}}
                    </td>
                    <td class="text-left" data-sortable="'col3'">
                        {{row.col3}}
                    </td>
                    <td data-ng-if="!phone" class="text-left" data-sortable="'col4'">
                        {{row.col4}}
                    </td>
                    <td data-ng-if="!phone" class="action-btn">
                        <!-- use download attribute to do download -->
                        <a href="data/submission.pdf" download class="fa fa-download fa-2x" title="Download Submission"></a>
                    </td>
                     <td data-ng-if="!phone" class="action-btn">
                        <a ng-if="row.col4 === 'New'" href="#/challenges/{{challengeId}}/submissions/{{row.col1}}/scorecard" class="fa fa-check-square fa-2x" title="Create Scorecard"></a>
                        <a ng-if="row.col4 !== 'New'" href="#/challenges/{{challengeId}}/submissions/{{row.col1}}/scorecard" class="fa fa-check-square-o fa-2x" title="Review Scorecard"></a>
                    </td>
                    <!--
                    <td data-ng-if="!phone" class="action-btn">
                        <a href="javascript:" data-ng-click="delete(row)" class="delete"></a>
                    </td>
                -->
                </tr>
                <tr data-ng-if="row.expand" class="{{checkboxes.items[row.id]?'select':''}}" data-ng-class="$odd?'odd':''">
                    <td colspan="5" class="no-padding">
                        <div class="expandedContent">
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col1}}</div>
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col2}}</div>
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col3}}</div>
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col4}}</div>
                            <div class="action">
                                <div class="left">
                                    <a href="javascript:" class="delete-btn" data-ng-click="delete(row)"></a>
                                </div>
                                <div class="right">
                                    <a href="javascript:" class="edit-btn"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="view == 'grid'" class="{{portrait?'portrait':''}} {{phone?'phone':''}}">
                <tr class="gridView">
                    <td class="no-bottom-border">
                        <div data-ng-if="$data.length > 0" class="grid_cnt">
                            <div class="grid col-lg-3 col-md-3 col-sm-4 {{checkboxes.items[item.id]?'select':''}}" data-ng-repeat="item in $data">
                                <!--grid header-->
                                <div class="header">
                                    <div class="input-cnt">
<!--                                         <label class="custom-checkbox">
                                            <input type="checkbox" data-ng-model="checkboxes.items[item.id]" />
                                            <span class="custom-checkbox"></span>
                                        </label>
 -->                                    &nbsp;    
                                    </div>
                                    <div class="actions">
                                        <!-- <a data-ng-if="!phone" href="javascript:" class="copy"></a> -->
                                        <a href="javascript:" class="edit"></a>
                                        <a href="javascript:" class="delete" data-ng-click="delete(item)"></a>
                                    </div>
                                </div>
                                <!--grid body-->
                                <div class="body">
                                    <div class="column" data-ng-repeat="header in columnHeaders">
                                        <strong>column : </strong> {{item[header.col]}}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--end table-->
        <div class="custom-pager">
            <span data-ng-if="!phone" class="label">Showing items <b>1-5</b> of <b>5</b></span>
<!--             <select class="styled" data-ng-model="pagerSelection" data-ng-options="option for option in pagerOptions" data-ng-change="changeCount(pagerSelection)"></select>
            <span data-ng-if="!phone" class="label">Per Page</span> -->
        </div>

    </div>
</div>