<div>
    <!--sub headers-->
    <header class="sub-header">
        <div class="ui-container">
            <!--actions-->
            <div class="actions desktop">
                <div class="action-btns" data-ng-if="checked>0">
                    <a href="javascript:" class="btn btn-copy"><i></i></a>
                    <a href="javascript:" class="btn btn-delete" data-ng-click="deleteSelected()"><i></i></a>
                    <a href="javascript:" class="btn btn-action {{action_popover_open?'active':''}}" data-ng-click="action_open()" ><i></i></a>
                </div>
                <a href="javascript:history.back()" class="btn add-new"><i></i>Save</a>
                <a href="javascript:history.back()" class="btn add-new"><i></i>Cancel</a>

            </div>
            <!--actions-->
            <div class="actions mobile">

                <a href="javascript:" class="btn filter {{filter_popover_open?'active':''}}" data-ng-click="filter_open()"><i></i></a>

                <div class="btn-group">
                    <label class="btn {{view}}" data-ng-click="toggleView()"><i></i></label>
                </div>
            </div>
            <!--title-->
            <div>
              <h3>
                <i></i>Scorecard
              </h3>
              <a href="#/challenges">Challenges</a> / <a href="#/challenges/1">Asteroid Data Hunter - System Architecture</a> / <a href="#/challenges/1/submissions">Submissions</a> / 1 / Scorecard
      
      

    
  </div>
            <h3>
                <i></i>Scorecard
            </h3>
        </div>
    </header>
    <div class="ui-container">
        <div  data-ng-if="phone" class="mobile tableName {{view == 'grid'?'no-border':''}}">
            <a href="javascript:" class="add-btn"></a>
            <label data-ng-if="view == 'grid'" class="select-all">
                <input type="checkbox" data-ng-model="checkboxes.checked" class="select_all" name="filter-checkbox" value="" />
                <span class="custom-checkbox"></span>
            </label>
            <a href="javascript:" class="delete-btn" data-ng-click="deleteSelected()"></a>
            <h3>TableName Lorem</h3>
        </div>

        <table data-ng-table="tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
            <thead>
            <tr data-ng-if="view == 'list'">
                <th class="checkAll">
<!--                     <label>
                        <input type="checkbox" data-ng-model="checkboxes.checked" class="select_all" name="filter-checkbox" value="" />
                        <span class="custom-checkbox"></span>
                    </label>
 -->                
                        &nbsp;
                </th>
                <th data-ng-repeat="header in columnHeaders"><div>{{header.colName}}</div></th>
            </tr>
            </thead>
            <tbody  data-ng-if="view == 'list'">
                <tr class="{{checkboxes.items[row.id]?'select':''}}" data-ng-class="$odd?'odd':''"  data-ng-repeat="row in $data">
                    <td>
<!--                         <label class="custom-checkbox">
                            <input type="checkbox" data-ng-model="checkboxes.items[row.id]" />
                            <span class="custom-checkbox"></span>
                        </label> -->
                        &nbsp;
                    </td>
                    <td data-ng-if="phone" class="text-left" data-sortable="'col1'">
                        <a href="javascript:" class="add-btn {{row.expand?'expand':''}}" data-ng-click="toggleExpand(row)"></a>
                    </td>
                    <td class="text-left" data-sortable="'col1'">
                        <a href="#/challenges/1/submissions">{{row.col1}}</a>
                    </td>
                    <td class="text-left" data-sortable="'col2'">
                        {{row.col2}}
                    </td>
                    <td class="text-left" data-sortable="'col3'">
                        <select>
                          <option value="-1"></option>
                          <option value="0">0 - Incomplete or Does not meet Expectations</option>
                          <option value="1">1 - Well below Expectations</option>
                          <option value="2">2 - Slightly below Expectations</option>
                          <option value="3">3 - Meets Expectations</option>
                          <option value="4">4 - Exceeds Expectations</option>
                        </select>                        
                    </td>
                    <td data-ng-if="!phone" class="text-left" data-sortable="'col4'">
                        <textarea ng-model="comment" rows="3" cols="50" placeholder="Enter optional comments for each individual requirement."></textarea>
                    </td>
                </tr>
                <tr data-ng-if="row.expand" class="{{checkboxes.items[row.id]?'select':''}}" data-ng-class="$odd?'odd':''">
                    <td colspan="5" class="no-padding">
                        <div class="expandedContent">
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col1}}</div>
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col2}}</div>
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col3}}</div>
                            <div class="columnRow"><strong>ColumnName : </strong>{{row.col4}}</div>
                            <div class="action">
                                <div class="left">
                                    <a href="javascript:" class="delete-btn" data-ng-click="delete(row)"></a>
                                </div>
                                <div class="right">
                                    <a href="javascript:" class="edit-btn"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="view == 'grid'" class="{{portrait?'portrait':''}} {{phone?'phone':''}}">
                <tr class="gridView">
                    <td class="no-bottom-border">
                        <div data-ng-if="$data.length > 0" class="grid_cnt">
                            <dizzv class="grid col-lg-3 col-md-3 col-sm-4 {{checkboxes.items[item.id]?'select':''}}" data-ng-repeat="item in $data">
                                <!--grid header-->
                                <div class="header">
                                    <div class="input-cnt">
<!--                                         <label class="custom-checkbox">
                                            <input type="checkbox" data-ng-model="checkboxes.items[item.id]" />
                                            <span class="custom-checkbox"></span>
                                        </label>
 -->                                    &nbsp;    
                                    </div>
                                    <div class="actions">
                                        <!-- <a data-ng-if="!phone" href="javascript:" class="copy"></a> -->
                                        <a href="javascript:" class="edit"></a>
                                        <a href="javascript:" class="delete" data-ng-click="delete(item)"></a>
                                    </div>
                                </div>
                                <!--grid body-->
                                <div class="body">
                                    <div class="column" data-ng-repeat="header in columnHeaders">
                                        <strong>column : </strong> {{item[header.col]}}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--end table-->

    </div>
</div>