<div>
    <!--sub headers-->
    <header class="sub-header">
        <div class="ui-container">
            <!--actions-->
            <div class="actions desktop">
                <a href="javascript:" class="btn add-new"><i></i>New Schedule</a>

                <div class="btn-group">
                    <label class="btn week-month" data-ng-model="view" data-btn-radio="'week'" data-ng-click="changeView('agendaWeek', myCalendar)">Week</label>
                    <label class="btn week-month" data-ng-model="view" data-btn-radio="'month'" data-ng-click="changeView('month', myCalendar)">Month</label>
                </div>
            </div>
            <!--actions-->
            <div class="actions mobile">

                <a href="javascript:" class="btn add-btn"><i></i>New Schedule</a>

                <div class="btn-group">
                    <label class="btn cal" data-ng-click="toggleView(myCalendar)" data-ng-bind="view=='month'?'W':'M'"></label>
                </div>
            </div>
            <!--title-->
            <h3 class="mobile">
                <i></i>Schedule
            </h3>

        </div>
    </header>
    <div class="ui-container {{phone?'mobile':''}}">
        <div class="calendar" data-ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>


        <div >
            <table data-ng-table="tableParams" class="table eventsTable">
                <thead>
                <tr>
                    <th colspan="5" class="events">{{events.length}} Events</th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in $data">

                        <td class="text-left" data-sortable="'col3'">
                            <span class="date">
                                <span class="day">{{ row.start | date : 'dd'}}</span>
                                <span class="month">{{ row.start | date : 'MMM'}}</span>
                            </span>
                            <span class="event-name">{{row.title}}</span>
                        </td>
                        <td class="text-left" data-sortable="'col4'">
                            <span class="event-time">{{ row.start | date : 'EEE d, hh:mm a'}}</span>
                        </td>
                        <td data-ng-if="!phone" class="action-btn">
                            <a href="javascript:" class="copy"></a>
                        </td>
                        <td data-ng-if="!phone" class="action-btn">
                            <a href="javascript:" class="edit"></a>
                        </td>
                        <td data-ng-if="!phone" class="action-btn">
                            <a href="javascript:" data-ng-click="removeEvent(row.id)" class="delete"></a>
                        </td>
                        <td colspan="3" data-ng-if="phone">
                            <a href="javascript:" class="arrow"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
            <div class="custom-pager">
                <span data-ng-if="!phone" class="label">Show :</span>
                <select class="styled" data-ng-model="pagerSelection" data-ng-options="option for option in pagerOptions" data-ng-change="changeCount(pagerSelection)"></select>
                <span data-ng-if="!phone" class="label">Per Page</span>
            </div>
        </div>

    </div>
</div>